# Configuration for Travis CI Continuous Integration Service
#
# Build status: https://travis-ci.org/Illumina/interop
#
# Tested configurations:
#
#   Linux Clang 3.7
#     - Release/Debug
#   Linux GCC
#     - Release/Debug
#     - 4.6/4.9
#   OSX Clang
#     - Release/Debug
#
# No support for 32-bit Linux
#
# TODO: For Python wheels, support: https://github.com/pypa/manylinux
# TODO: Create individual builds for each language

language: cpp
sudo: required

matrix:
  include:
  - os: osx
    compiler: clang
    env: DEPLOY_BUILD=true SCRIPT="bash ./tools/package.sh $PWD $PWD/dist travis OFF Release ALL"
  - os: linux
    compiler: clang
    env: SCRIPT="bash ./tools/package.sh $PWD $PWD/dist travis ON Debug 2.7"
  - os: linux
    compiler: gcc
    env: SCRIPT="bash ./tools/package.sh $PWD $PWD/dist travis ON Debug 2.7"
  - os: linux
    compiler: gcc
    sudo: required
    services:
      - docker
    env: DEPLOY_BUILD=true DOCKER_IMAGE=ezralanglois/interop SCRIPT="docker run --rm -v $PWD:/io ezralanglois/interop sh /io/tools/package.sh /io /io/dist travis"
  - os: osx
    compiler: clang
    env: SCRIPT="bash ./tools/package.sh $PWD $PWD/dist travis OFF Debug 2.7"
  - os: linux
    compiler: gcc
    addons: &1
      apt:
        sources:
        - george-edison55-precise-backports
        - ubuntu-toolchain-r-test
        - sourceline: 'ppa:teward/swig3.0'
        packages:
        - g++-5
        - libicu-dev
        - swig3.0
        - doxygen
        - graphviz
        - mono-complete
        - libgtest-dev
        - python-numpy
    env: COMPILER_VERSION=-5 SCRIPT="bash ./tools/package.sh $PWD $PWD/dist travis ON Debug 2.7"
  - os: linux
    compiler: clang
    addons: &2
      apt:
        sources:
        - george-edison55-precise-backports
        - ubuntu-toolchain-r-test
        - llvm-toolchain-precise-3.7
        - sourceline: 'ppa:teward/swig3.0'
        packages:
        - g++-4.9
        - clang-3.7
        - libicu-dev
        - swig3.0
        - doxygen
        - graphviz
        - mono-complete
        - libgtest-dev
        - python-numpy
    env: COMPILER_VERSION=-3.7 SCRIPT="bash ./tools/package.sh $PWD $PWD/dist travis ON Debug 2.7"
addons:
  apt:
    sources:
    - george-edison55-precise-backports
    - sourceline: 'ppa:teward/swig3.0'
    packages:
    - libicu-dev
    - swig3.0
    - doxygen
    - graphviz
    - mono-complete
    - libgtest-dev
    - python-numpy
cache:
  directories:
    - $HOME/NUnit-2.6.4
    - $HOME/cmake

install:
- source tools/prereqs/travis-${TRAVIS_OS_NAME}-install.sh
- if [ ! -z $DOCKER_IMAGE ]; then docker pull $DOCKER_IMAGE ; fi
- ls $HOME/NUnit-2.6.4

before_script:
- export CC="${COMPILER_HOME}${CC}${COMPILER_VERSION}"
- export CXX="${COMPILER_HOME}${CXX}${COMPILER_VERSION}"
- cmake -version
- which $CC
- which $CXX

script:
- $SCRIPT

#white list broke the tag push deployment

branches:
  only:
  - master
  - /v\d\.\d\.\d/

notifications:
  email: false

before_deploy:
  - sudo /opt/pyenv/bin/pyenv install 3.5.4 -s  || true
  - sudo /opt/pyenv/bin/pyenv global 3.5.4
  - sudo /opt/pyenv/shims/python --version
  - sudo /opt/pyenv/shims/pip install twine
  - if [ "$TRAVIS_TAG" != "" ] && [ "$DEPLOY_BUILD" == "true" ] ; then sudo /opt/pyenv/shims/twine upload --skip-existing $PWD/dist/*.whl; fi

deploy:
  skip_cleanup: true
  provider: releases
  api_key:
    secure: qUB+Gaq1jYzYgMW+rh3mYquzFpt4cuJ+C89L0o/NkkSrCeDizftNL0P2mBXMqeUOLEWDFGwMgWcdTSs0MMdoOmYKp0hMFbCzipbwANKdzcmUjYx9VDlft9iEnKyjhnwLTyljvcK2OYWMCiPkTv+V4O0H9/T8bZEGQ/zBElCeYJPSdjNTRSFzfe8XqzGsNoty4YDlK89UIWy2Pmw38qRIWpu2rk3WAMDxsJgSO7uPs5xxaLioAfukhV7thbeQjYQn42OQ8eA2AwQa478KtlY2V5XtZqFQtdDPosvtS5HXYCXvnCWJeUbB0KrE5o+Je8njm4e+K30WDfpDGiCPU7Guz52FN551/5L5iv0+6++ZOt8fxKSMF+4H42JxDzDMdzvJmTImdIP2ACm5EnY8pJXOVnXbemDNNnpjhE8CqMVSqfiB+QDLasiZ3PBAaqPbb7XVYKpxUE1nGQCIynHjS7KClKo0EKrvJo2vWSgeXW5wBtmGuIsgMkPcNTtqM6WEui1mdoKQXrvAl4SxdgwhvmA6RYhva+yBIGf9HPqfGL7c2ByQADULLtc8SgOjqbibDO+jVITTtWsliaD53nXJKHzU8JkOsAJNl0Le+kyQKNoHaMersHrZzccrCeRkGOES5g/a+2a3PF0hRkgQjmVQsEEPw9C1rLEXG5gTUL3gd5UmD58=
  file_glob: true
  file: $PWD/dist/*.*
  on:
    repo: Illumina/interop
    branch: master
    tags: true
    condition:
      - "$DEPLOY_BUILD == true"


