# Configuration for Travis CI Continuous Integration Service
#
# Build status: https://travis-ci.org/Illumina/interop
#
# Tested configurations:
#
#   Linux Clang 3.7
#     - Release/Debug
#   Linux GCC
#     - Release/Debug
#     - 4.6/4.9
#   OSX Clang
#     - Release/Debug
#
# No support for 32-bit Linux
#
# TODO: For Python wheels, support: https://github.com/pypa/manylinux
## TODO: Create individual builds for each language

language: cpp

env:
  global:
    secure: "u1PKXB6w4ca3qONKKdMNS7NvPTGyXa9FuSBvM4IC+Yak0k4P8pghA3iwrtzwCkXzT+kijcVpbOvDJjhD1Kfb0fucpYKEbR+QTTBpqXjwWZx6WHSH/ZoPfc40OiGJ5zbdyRZrI2GKdrgeZbDN2FOE7Vvmu/RgxCdSkpeBmRG2uTqgmVA+Gy+BJBtRgwKdmvChaqIQ7Zwbrw26JA1g+iKDNKSw3SyKbRrkCv2i5u2YrVS3XhbCCCJCt1HmsMZfjFhvx4ddnfQ9At/Z1bx58bb607lhKbWT1AR+NIXtbYz7sGGPxLuUply9KVDzE+3yb72zVIa3R8Nl/cBtS3S2rDyDvaLy3zTpF25jHNxEx956yI8n25lA2qtwqAs7sw+neSvivlEQot0GVPy2r0tsezNFt6GSJG92KYT4TsDVZr8EXQr6n0ocDmMQU/tVqxeG6VelqpjJ257gT1ywU7mtod43ye/7FO+5Is2LbGVq5nWHW203joKo2mLyx2p3/l7EW2o6kDhu+ttiaR6YMYMpnpe+IGWMRhKOxtVH4EJuOKB3G6UfSZmXauwXZdxqN03wqvZnXhDp+cr1p6Wj3L5LyENpw/dS38fRTFBJzNYUTtYatiNVUptI9RGSdkcgvgx3e43XIumgvk7/Tea7DjVEMIXMSj/N1c7P8eJZbiXQmmqa65w="

matrix:
  include:
  - os: osx
    osx_image: xcode12.2
    compiler: clang
    env: DEPLOY_BUILD=true SCRIPT="bash ./tools/package.sh $PWD $PWD/dist travis OFF Release Disable"
  - os: osx
    osx_image: xcode12.2
    compiler: clang
    env: DEPLOY_BUILD=true SCRIPT="bash ./tools/package.sh $PWD $PWD/dist travis OFF Release DotNetStandard"
  - os: osx
    osx_image: xcode12.2
    compiler: clang
    env: DEPLOY_BUILD=true SCRIPT="bash ./tools/package.sh $PWD $PWD/dist travis OFF Release 2.7.17"
  - os: osx
    osx_image: xcode12.2
    compiler: clang
    env: DEPLOY_BUILD=true SCRIPT="bash ./tools/package.sh $PWD $PWD/dist travis OFF Release 3.5.9"
  - os: osx
    osx_image: xcode12.2
    compiler: clang
    env: DEPLOY_BUILD=true SCRIPT="bash ./tools/package.sh $PWD $PWD/dist travis OFF Release 3.6.10"
  - os: osx
    osx_image: xcode12.2
    compiler: clang
    env: DEPLOY_BUILD=true SCRIPT="bash ./tools/package.sh $PWD $PWD/dist travis OFF Release 3.7.7"
  - os: osx
    osx_image: xcode12.2
    compiler: clang
    env: DEPLOY_BUILD=true SCRIPT="bash ./tools/package.sh $PWD $PWD/dist travis OFF Release 3.8.2"
  - os: linux
    compiler: clang
    env: SCRIPT="bash ./tools/package.sh $PWD $PWD/dist travis ON Debug Disable"
  - os: linux
    compiler: gcc
    env: SCRIPT="bash ./tools/package.sh $PWD $PWD/dist travis ON Debug Disable"
  - os: linux
    compiler: gcc
    services:
      - docker
    env: DEPLOY_BUILD=true DEPLOY_DOCS=true DOCKER_IMAGE=ezralanglois/interop SCRIPT="docker run --rm -v $PWD:/io ezralanglois/interop sh /io/tools/package.sh /io /io/dist travis OFF Release None"
  - os: osx
    osx_image: xcode12.2
    compiler: clang
    env: SCRIPT="bash ./tools/package.sh $PWD $PWD/dist travis OFF Debug Disable"
  - os: linux
    compiler: gcc
    addons: &1
      apt:
        sources:
        - george-edison55-precise-backports
        - ubuntu-toolchain-r-test
        - sourceline: 'ppa:teward/swig3.0'
        packages:
        - g++-5
        - libicu-dev
        - swig3.0
        - doxygen
        - graphviz
        - mono-complete
        - libgtest-dev
        - python-numpy
    env: COMPILER_VERSION=-5 SCRIPT="bash ./tools/package.sh $PWD $PWD/dist travis ON Debug Disable"
  - os: linux
    compiler: clang
    addons: &2
      apt:
        sources:
        - george-edison55-precise-backports
        - ubuntu-toolchain-r-test
        - llvm-toolchain-precise-3.7
        - sourceline: 'ppa:teward/swig3.0'
        packages:
        - g++-4.9
        - clang-3.7
        - libicu-dev
        - swig3.0
        - doxygen
        - graphviz
        - mono-complete
        - libgtest-dev
        - python-numpy
    env: COMPILER_VERSION=-3.7 SCRIPT="bash ./tools/package.sh $PWD $PWD/dist travis ON Debug Disable"
addons:
  apt:
    sources:
    - george-edison55-precise-backports
    - sourceline: 'ppa:teward/swig3.0'
    packages:
    - libicu-dev
    - swig3.0
    - doxygen
    - graphviz
    - mono-complete
    - libgtest-dev
    - python-numpy
cache:
  directories:
    - $HOME/NUnit-2.6.4
    - $HOME/cmake

install:
- source tools/prereqs/travis-${TRAVIS_OS_NAME}-install.sh
- if [ ! -z $DOCKER_IMAGE ]; then docker pull $DOCKER_IMAGE ; fi
- ls $HOME/NUnit-2.6.4

before_script:
- export CC="${COMPILER_HOME}${CC}${COMPILER_VERSION}"
- export CXX="${COMPILER_HOME}${CXX}${COMPILER_VERSION}"
- cmake -version
- which $CC
- which $CXX

script:
- $SCRIPT

#white list broke the tag push deployment

branches:
  only:
  - master
  - /v\d\.\d\.\d/

notifications:
  email: false

before_deploy:
  - export PATH=/opt/pyenv:/opt/pyenv/shims:$PATH
  - if [ "$TRAVIS_OS_NAME != "osx ] ; then env "PATH=$PATH" pyenv install 3.5.4 -s  || true; fi
  - if [ "$TRAVIS_OS_NAME != "osx ] ; then env "PATH=$PATH" pyenv global 3.5.4; fi
  - if [ "$TRAVIS_OS_NAME != "osx ] ; then env "PATH=$PATH" pip install twine; fi
  - if [ "$TRAVIS_TAG" != "" ] && [ "$DEPLOY_BUILD" == "true" ] &&  [ -e $(compgen -G $PWD/dist/*.whl) ] ; then twine upload --skip-existing $PWD/dist/*.whl; fi

deploy:
  - provider: releases
    skip_cleanup: true
    api_key: $GITHUB_TOKEN
    file_glob: true
    file: $PWD/dist/*.*
    on:
      repo: Illumina/interop
      branch: master
      tags: true
      condition:
        - "$DEPLOY_BUILD == true"
  - provider: pages
    skip_cleanup: true
    github-token: $GITHUB_TOKEN
    local_dir: $PWD/dist/html
    on:
      repo: Illumina/interop
      branch: master
      tags: true
      condition:
      - "$DEPLOY_DOCS == true"

